<!DOCTYPE html>
<html lang="en"  xmlns:th ="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>About-Digital Contact Manger</title>
</head>
<body>
    <section>
	<div class="container" >
		
		
		<div class="card">
		<div class="card-body">
			
			<h1 class="text-center"> START ADD YOUR CONTACT ON THIS WEBSITE </h1>
			<div class="text-center">
			<a   th:href="@{/user/add-contact}" class="btn btn-primary   mt-3">Add New Contact</a>
			</div>
		</div>
			
		</div>
		
	</div>
	</section>
</body>
</html>